*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body{
    background-color: antiquewhite;
   /* background:image("bgimg"); */
}
.form-outer{

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(25vh);
   
}
.ilif{
    height: 300px;
    background-image: url("bgimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: full;

    background-size: cover;
    border: 5px solid rgb(188, 193, 91);
    padding: 9vh;
    border-radius: 25px;

}
.signup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1, h3{
    color: white;
}
a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(204, 244, 41);
}   
form{
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}
::placeholder{
  color: rgba(255, 255, 255, 0.72);  
}
input{
    gap: 2vh;
    height: 4vh;

    padding-left: 4px;
    
    border-radius: 10px;
    background-color: rgba(36, 145, 145, 0.252);
    
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid black;
}
h1{
    margin-bottom: 2%;
    text-align: center;
}
button{
    font-weight: 800;
    padding: 0.5%;
    width: 10vh;
    align-self: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(24, 111, 187, 0.463);
}

